@import url('file:///C:\Users\vozoy\source\repos\halozatok\HajosTeszt\HajosTeszt\wwwroot\hajo.css');
html, body{
    height: 100%;
}

div{
    margin:10px;
    border: 2px solid skyblue;
}

#külső {
    height: 100%;
    display: flex;
    flex-direction: column;
}

#középső {
    display:flex;
    flex-direction:row; 
    flex-grow:1;
}

#válaszok {
    flex-grow: 1;
    flex-shrink:1;
}

#vezérlő {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.gomb {
    padding:20px;
    width:80px;
}

.rossz:hover{
    background-color: red;
}

.jo:hover{
    background-color: green;
}

.kattinthato:hover {
    background-color: fuchsia;
    color: white;
}

.vissza {
    background-color: fuchsia;
    color: white;
}

.előre {
    background-color: fuchsia;
    color: white;
}

#kép {        
    /*overflow:hidden;
    flex-shrink:0;
    flex-shrink:0;   */
}

